<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAhV_1IMwgnfQ-4rARcW92dlK0b96DUeEM</string>
	<key>GCM_SENDER_ID</key>
	<string>605877424360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mohamedtech.WhatsUp</string>
	<key>PROJECT_ID</key>
	<string>whatsup-b73d3</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsup-b73d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605877424360:ios:6ec233c266d5642f39b95d</string>
</dict>
</plist>